/.deps-util
/00_header
/10_linux
/20_linux_xen
/30_os-prober
/40_custom
/41_custom
/grub-core
/Makefile*
/confdefs.h
/config-util.h
/config.h
/config.log
/config.status
/grub_*
/docs/Makefile
/grub-bin2h
/grub-editenv
/grub-fstest
/grub-install
/grub-kbdcomp
/grub-menulst2cfg
/grub-mkconfig
/grub-mkconfig_lib
/grub-mkdevicemap
/grub-mkimage
/grub-mklayout
/grub-mknetdir
/grub-mkpasswd-pbkdf2
/grub-mkrelpath
/grub-mkrescue
/grub-probe
/grub-reboot
/grub-script-check
/grub-set-default
/grub-setup
/grub-shell
/grub-shell-tester
/util/grub_*
/docs/stamp-1
/docs/stamp-vti
/docs/version-dev.texi
/docs/version.texi
/include/grub/cpu
/include/grub/machine
/libgrub.pp
/libgrub_a_init.c
/libgrub_a_init.lst
/libgrubkern.a
/libgrubmods.a
/po/Makefile
/po/Makefile.in
/po/POTFILES
/po/stamp-po
/stamp-h
/stamp-h1
/tests/.deps-util/
/tests/lib/.deps-util/
/update-grub_lib
/util/.deps-util/
/util/.dirstamp
/util/bash-completion.d/Makefile
/util/bash-completion.d/config.log
/util/bash-completion.d/grub
/util/ieee1275/.deps-util/
*.o
